<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Speicher Spieler</title>
    <style>

    </style>
</head>
<body>

<h1 align="center">Speicher Spieler</h1>

<div align="center">

    <div id="controlsPanel">
        <label>value: {% if player_playing %}player_playing{% endif %}</label>
        <button type="button" id="btnPlay" {% if player_playing %}disabled{% endif %}>Play</button>
        <button type="button" id="btnStop" {% if not player_playing %}disabled{% endif %}>Stop</button>
    </div>
    <br/><br/>
    <div id="playerPanel" style="width: 90%">
        <p>Currently Playing:</p>
        <video id="videoPlayer" controls="controls" src="{{ playing_file_path }}">
        </video>
    </div>
    <br/><br/><br/>
    <div id="cachingPanel" style="width: 90%;">
        Currently Caching:
        <p id="txtCaching">{{ caching_url }}</p>
    </div>
    <br/>
    <p>Player Queue:</p>
    <textarea id="txtQueue" wrap="off" style="width: 90%; border: solid black; height: 250px; overflow: hidden"
              placeholder="One video or audio url per line">{{ queueing_urls }}</textarea>
</div>


<script lang="js">
    let btnPlay = document.getElementById("btnPlay");
    let btnStop = document.getElementById("btnStop");
    let txtQueue = document.getElementById("txtQueue");
    let videoPlayer = document.getElementById("videoPlayer");

    window.onload = () => {
        // register event listener
        btnPlay.onclick = postPlay.bind(null);
        btnStop.onclick = postStop.bind(null);
        videoPlayer.onended = onPlayerFinished.bind();

        // handle url hash
        handleUrlHash();
    }

    function handleUrlHash() {
        if (window.location.hash === '#play') {
            videoPlayer.play();
        }
        if (window.location.hash === '#stop') {
            videoPlayer.pause();
        }
    }

    function onPlayerFinished() {
        console.log("onPlayerFinished()");
        postPlayNext();
    }

    function postPlay() {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            window.location.hash = 'play';
            location.reload();
        };
        xhr.open('POST', '/api/play');
        xhr.send(txtQueue.value);
        return false;
    }

    function postPlayNext() {
        if (isBlank(txtQueue.value)) {
            postStop();
            return;
        }

        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            window.location.hash = 'play';
            location.reload();
        };
        xhr.open('POST', '/api/play');
        xhr.send(txtQueue.value);
        return false;
    }

    function postStop() {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            window.location.hash = 'stop';
            location.reload();
        };
        xhr.open('POST', '/api/stop');
        xhr.send();
        return false;
    }

    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }
</script>
</body>
</html>